@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-orange: #fe6603;
  --color-brand-maroon: #036e26;
  --color-brand-gold: #C69C6D;
  --color-brand-cream: #FDFBF7;
  --color-brand-cream-light: #FFFFFF;
  --color-brand-green: #045e1a;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #045e1a;
  color: #ffffff;
}

input, textarea, select {
  color: #111827;
}
